[submodule "dep/boost_bind"]
	path = dep/boost_bind
	url = https://www.github.com/boostorg/bind.git
[submodule "dep/boost_thread"]
	path = dep/boost_thread
	url = https://www.github.com/boostorg/thread.git
[submodule "dep/boost_asio"]
	path = dep/boost_asio
	url = https://github.com/boostorg/asio.git
[submodule "dep/boost_chrono"]
	path = dep/boost_chrono
	url = https://www.github.com/boostorg/chrono.git
[submodule "dep/boost_date_time"]
	path = dep/boost_date_time
	url = https://www.github.com/boostorg/date_time.git
[submodule "dep/boost_move"]
	path = dep/boost_move
	url = https://www.github.com/boostorg/move.git
[submodule "dep/boost_atomic"]
	path = dep/boost_atomic
	url = https://www.github.com/boostorg/atomic.git
[submodule "dep/boost_system"]
	path = dep/boost_system
	url = https://www.github.com/boostorg/system.git
