[submodule "dep/CTPL"]
	path = dep/CTPL
	url = https://github.com/vit-vit/CTPL.git
[submodule "dep/boost_bind"]
	path = dep/boost_bind
	url = git@github.com:boostorg/bind.git
[submodule "dep/boost_thread"]
	path = dep/boost_thread
	url = git@github.com:boostorg/thread.git
[submodule "dep/boost_asio"]
	path = dep/boost_asio
	url = git@github.com:boostorg/asio.git
[submodule "dep/boost_chrono"]
	path = dep/boost_chrono
	url = git@github.com:boostorg/chrono.git
[submodule "dep/boost_date_time"]
	path = dep/boost_date_time
	url = git@github.com:boostorg/date_time.git
[submodule "dep/boost_move"]
	path = dep/boost_move
	url = git@github.com:boostorg/move.git
[submodule "dep/boost_atomic"]
	path = dep/boost_atomic
	url = git@github.com:boostorg/atomic.git
[submodule "dep/boost_system"]
	path = dep/boost_system
	url = git@github.com:boostorg/system.git
[submodule "dep/boost_build"]
	path = dep/boost_build
	url = git@github.com:boostorg/build.git
[submodule "dep/boost_win_api"]
	path = dep/boost_win_api
	url = git@github.com:boostorg/winapi.git
